<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Tareas/Apuntes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nueva Nota</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
        
        <!-- Campo para el título -->
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input formControlName="title" type="text" required></ion-input>
        </ion-item>

        <!-- Campo para la descripción con más altura -->
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="description" required rows="8"></ion-textarea>
        </ion-item>

        <!-- Campo para subir imagen -->
        <ion-item>
          <ion-label>Subir Imagen</ion-label>
          <br>
          <ion-input type="file" (change)="onFileSelected($event)" accept="image/*"></ion-input>
        </ion-item>

        <!-- Campo para seleccionar color -->
        <ion-item>
          <ion-label>Color de la Nota</ion-label>
          <ion-select formControlName="color" interface="popover" placeholder="Seleccionar color">
            <ion-select-option value="#ffadad">Rojo</ion-select-option>
            <ion-select-option value="#ffd6a5">Naranja</ion-select-option>
            <ion-select-option value="#fdffb6">Amarillo</ion-select-option>
            <ion-select-option value="#caffbf">Verde</ion-select-option>
            <ion-select-option value="#9bf6ff">Azul</ion-select-option>
            <ion-select-option value="#a0c4ff">Indigo</ion-select-option>
            <ion-select-option value="#bdb2ff">Violeta</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Previsualización de la imagen cargada -->
        <div *ngIf="selectedImage">
          <img [src]="selectedImage" alt="Imagen seleccionada" style="width: 100%; height: auto; margin-top: 10px;">
        </div>

        <!-- Botón para guardar la nota -->
        <ion-button expand="block" type="submit" [disabled]="!noteForm.valid">Guardar Nota</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
