<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para Volver -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido de Nuevo a AppTusNotas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- Campo para el Username -->
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text" required></ion-input>
        </ion-item>

        <!-- Campo para la Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>

        <!-- Botón de inicio de sesión -->
        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
          Iniciar Sesión
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
