<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tareas/Apuntes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let note of notes; let i = index">
        <!-- Tarjeta de nota con color de fondo y apertura del detalle al hacer clic -->
        <ion-card [ngStyle]="{ 'background-color': note.color }" (click)="openNoteDetail(note)">
          <ion-card-header>
            <ion-card-title>{{ note.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ note.description }}</p>
          </ion-card-content>
          <!-- Botón para eliminar nota -->
          <ion-button color="danger" fill="clear" (click)="deleteNote(i); $event.stopPropagation()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



